body{
  background: #f1e5c7;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  letter-spacing: 0.2em;
}
/* メニューバー閉じるときの背景色 */
input[type="checkbox"]:checked ~ .back{
  background-color: #a79183;
  opacity: 0.3;
}
.mg{
  display: block;
  opacity: 1;
}
header{
  height:10vw;
}
h3{
  letter-spacing: 0.3em;
}
.logo-container{
  height:8vw;
  width: 25vw;
  margin: 1vw;
}
.logo-container img{
  width: 100%;
  vertical-align: top;
}
/* メイン */
.main-wrapper{
  width: 100%;
  margin-top: 10vw;
}
.rabbit-faceWash{
  width: 100%;
}
.container-box{
  width: 100%;
  background: rgba(256,256,256,0.8);
  margin: 0 auto;
  color: #725d4e;
  padding-top: 20px;
}
.game-container{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.content{
  margin:5vw 0;
}

.slide{
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.slide img{
  width:100%;
}

.game-a{
  word-break: break-all;
}
.rabbit-pc{
  width: 50%;
  margin: 20px auto;
}

/* フッター */
footer{
  height: 20vw;
  position: relative;
}
.footer-logo{
  bottom:0;
  right:0;
  position: absolute;
}
.border-svg{
  width: 100%;
  margin-top: 5vw;
}
.rabbit-pre{
  width: 50%;
}


@media(min-width:600px) {
  .container-box{
    width: 70%;
  }
  .border-svg{
    width: 80%;
  }
}
