/* レイアウト */
.hbmenu{
  width: 20%;
  min-width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
}
.menu-container{
  height: 100%;
  width: 100%;
  padding-top: 10vh;
  text-align: center;
  position: absolute;
  right: -100%;
  transition: all 0.2s;
  background-color: rgba(256,256,256,0.3);
}

.menu-container ul,.menu-container a{
  padding-top:5vh;
  list-style: none;
  text-decoration:none;
  line-height: 10vh;
  color: white;
  text-shadow:0.1vw 0.1vw 0.2vw #144f5f;
  font-weight: bold;
}
a:hover{
  text-shadow:0.1vw 0.1vw 0.2vw yellow;
}
.menu-container p{
  font-size:1.5vw;
  line-height: 1.5vw;
  display: none;
}
input[type="checkbox"]{
  position: absolute;
  top:-100%;
}
.ico-fish, .fa-book-open{
  position: absolute;
  opacity: 0.9;
  top: 5vh;
  right: 4vw;
  font-size: 35px;
  color: white;
  text-shadow:0.1vw 0.1vw 0.2vw rgba(15,53,74,0.9);
  transition: all 0.3s;
}
.ico-fish:hover{
  transform: rotateY(180deg);
  opacity: .5;
}
.fa-book-open:hover{
  text-shadow:0.1vw 0.1vw 0.2vw yellow;
}
.ico-croos{
  font-size: 35px;
  color: white;
  text-shadow:0.1vw 0.1vw 0.2vw rgba(15,53,74,0.9);
  transition: all 0.3s;
}
.ico-croos:hover{
  text-shadow:0.1vw 0.1vw 0.2vw yellow;
}
.ra-icon-rabbit{
  font-size:40px;
  color: white;
  text-shadow:0.1vw 0.1vw 0.2vw #6c604a;
}
.ra-icon-rabbit:hover{
  text-shadow:0.1vw 0.1vw 0.2vw yellow;
}
.mg:hover >p{
  color: yellow;
  text-shadow:0.1vw 0.1vw 0.2vw lightpink;
  display: block;
}

/* menu開閉 */
input[type="checkbox"]:checked ~ .menu-container{
  right: 0;
}
input[type="checkbox"]:checked ~ .open{
  display: none;
}
input[type="checkbox"]:checked ~ .back{
  position: absolute;
  width: 500%;
  height:100%;
  right: 0;
  background-color: rgba(20,79,95,0.2);
}

/* PC用 */

@media screen and (min-width:768px) {
  .menu-container{
      right: 0;
  }
  .open,.back{
    display: none;
  }
  input[type="checkbox"]:checked ~ .menu-container{
    right: -100%;
  }
  input[type="checkbox"]:checked ~ .open{
    display: block;
  }
  .ico-fish, .fa-book-open{
    font-size: 5vw;
  }
  .ico-croos{
  font-size: 5vw;
  }
  .ico-croos:hover{
  font-size: 6vw;
  }
  .ra-icon-rabbit{
  font-size:4vw;
  }
}
