/* デバイスごとの設定 */
@media screen and (min-width:768px) {

}
@media screen and (min-width:1168px) {

}

/* 共通設定 */
body{
  color: white;
  letter-spacing: .2em;
}
.top-wrapper{
  overflow: hidden;
}
.top-container{
  height:120vw;
  min-height: 100vh;
  background: linear-gradient(rgba(220,231,240,0.4), rgba(176,241,248,0.6), rgba(104,204,207,0.7), rgba(160,160,160,0.8));
}
.bg{
  height:120vw;
  min-height: 100vh;
  background-image: url("IMG_5299.jpeg");
  background-size: cover;
  opacity: 0.5;
}
.top-text{
  padding: 0 5vw;
  position: fixed;
  bottom: 5vw;
  color:white;
  text-shadow: .1em .1em .1em #557fa3;
  letter-spacing: .3em;
  z-index: 10;
}
/* 波 */
.box{
  width: 100%;
  height: 1vw;
  position: relative;
  transform: translate3d(0, 0, 0);
  background: #99d4db;
  z-index: 5;
}
.flont{
  z-index: 20;
  opacity: 0.9;
}
.wave {
  position: absolute;
  background: radial-gradient(#80d7eb,rgba(128,215,235,0.5));
  width: 80vw;
  height: 80vw;
  margin-left: -20vw;
  margin-top: -5vw;
  transform-origin: 50% 48%;
  border-radius: 40%;
  animation: drift 22s infinite linear;
}
.wave.-one{
  animation: drift 20s infinite linear;
  margin-top: -5vw;
  margin-left: 30vw;
}
.wave.-two{
  animation: drift 14s infinite linear;
  margin-top: -3vw;
  margin-left: -30vw;
  background: #99d4db;
}
.wave.-three {
  animation: drift 18s infinite linear;
  margin-left: 0;
  margin-top: -3vw;
  background:rgba(128,215,235,0.9);
}
.wave.-four {
  animation: drift 16s infinite linear;
  margin-left: 50%;
  margin-top: 0;
  background: #99d4db;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* メイン部分 */
.main-wrapper{

  position: relative;
  background: linear-gradient(#80d7eb,#99d4db);
  z-index: 15;
}
.heading{
  padding-top: 8vw;
  text-align: center;
  width: 100%;
}
.img-icon{
  width: 100%;
  text-align: center;
  padding: 5vw 0;
}
.rabbit{
  width: 30vw;
  border-radius: 50%;
  border: double 1vw white;
}
.text-container {
  text-align: center;
  width: 100%;
}

.bottom-wrapper{
  position: relative;
  z-index: 15;
  height: 70vw;
  background: #99d4db;
}
.slide-container{
  text-align:center;
  width: 50%;
  margin: 5vw auto;
  border: dashed 0.5vw white;
  height: 40vw;
}
.toGallery{
  vertical-align: middle;
}
footer{
  position: relative;
  z-index: 15;
  width: 100%;
  height:25vw;
  background: linear-gradient(#99d4db,#f1e5c7 60%);
}
.logo-container{
  position: absolute;
  width: 25vw;
  height:8vw;
  right: 0;
  bottom:0;
  margin: 1vw;
}
.logo-container img{
  vertical-align:top;
  width: 100%;
}

/*　スライドショー */
.slideshow {
  height: 100%;
	position: relative;
	overflow: hidden;
}
input[name="slideshow"] {
	display: none;
}
.slideContents {
	position: relative;
	background: #80b9c0;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s;
}
.slideContents section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section img, video{
	width: 100%;
  max-height: 70vw;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}

/*矢印*/
.arrow, .arrow label, .arrow .ico {
	position: absolute;
}
.arrow {
	top: 0;
	margin: 0;
	transition: .3s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.arrow:hover {
	background: rgba(255,255,255,.2);
}
.arrow,.arrow label {
	cursor: pointer;
	width: 5vw;
  min-width: 16px;
	height: 100%;
}
.arrow label {
	top: 0;
	left: 0;
	z-index: 100;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #fff;
	font-size:1.5vw;
	opacity: 0.5;
}
.prev .ico {
	left: 50%;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 50%;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
.prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
}
/*スライド切り替え*/
#switch1:checked ~ .slideContents #slide1,#switch2:checked ~ .slideContents #slide2,
#switch3:checked ~ .slideContents #slide3,#switch4:checked ~ .slideContents #slide4,
#switch5:checked ~ .slideContents #slide5 {
	position: relative;
	transform: none;
}
#switch1:checked ~ .slideContents #slide5,#switch1:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide1,#switch2:checked ~ .slideContents #slide5,
#switch3:checked ~ .slideContents #slide2,#switch3:checked ~ .slideContents #slide1,
#switch4:checked ~ .slideContents #slide3,#switch4:checked ~ .slideContents #slide2,
#switch5:checked ~ .slideContents #slide4,#switch5:checked ~ .slideContents #slide3 {
	transform: translateX(-100%);
}
#switch1:checked ~ .slideContents #slide3,#switch1:checked ~ .slideContents #slide4,
#switch2:checked ~ .slideContents #slide4,#switch2:checked ~ .slideContents #slide5,
#switch3:checked ~ .slideContents #slide5,#switch3:checked ~ .slideContents #slide1,
#switch4:checked ~ .slideContents #slide1,#switch4:checked ~ .slideContents #slide2,
#switch5:checked ~ .slideContents #slide2,#switch5:checked ~ .slideContents #slide3 {
	transition-duration: 0s;
}
/*矢印切り替え*/
.arrow label {
	pointer-events: none;
}
#switch1:checked ~ .prev label[for="switch5"],#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"],#switch5:checked ~ .next label[for="switch1"] {
	pointer-events: auto;
}
