body{
  background: #f1e5c7;
  color: white;
  text-align: center;
  letter-spacing: 0.2em;
}
/* メニューバー閉じるときの背景色 */
input[type="checkbox"]:checked ~ .back{
  background-color: #a79183;
  opacity: 0.3;
}
.mg{
  display: block;
  opacity: 1;
}
header{
  height:10vw;
}
.greet {
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px black;
}
.logo-container{
  height:8vw;
  width: 25vw;
  margin: 1vw;
}
.logo-container img{
  width: 100%;
  vertical-align: top;
}
/* メイン */
.main-wrapper{
  width: 100%;
  margin-top: 10vw;
}
.rabbit-faceWash{
  width: 100%;
}
.container-box{
  width: 100%;
  background: rgba(256,256,256,0.8);
  margin: 0 auto;
  color: #725d4e;
  padding-top: 20px;
}
.game-container{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.content{
  margin:5vw 0;
}

.slide{
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.slide img,video{
  width:100%;
}

.game-a{
  word-break: break-all;
}
.rabbit-pc{
  width: 50%;
  margin: 20px auto;
}

/* フッター */
footer{
  height: 20vw;
  position: relative;
}
.footer-logo{
  bottom:0;
  right:0;
  position: absolute;
}
.border-svg{
  width: 100%;
  margin-top: 5vw;
}
.rabbit-pre{
  width: 50%;
}

@media(min-width:600px) {
  .greet{
    letter-spacing: 0.3em;
  }
  .container-box{
    width: 70%;
  }
  .border-svg{
    width: 80%;
  }
}




/*
.art-content, .dish-content, .game-content, .suzu-content{
    flex-direction: column;
}
.a-con, .d-con, .g-con, .s-con{
  width: 80%;
  margin: auto;
}


.art-container, .dish-container, .game-container, .suzu-container{
  width: 100%;
  margin: 0;
}
.art-content, .dish-content, .game-content,{
  width: 100%;
  height: 20vw;
  display: flex;
  flex-wrap: wrap;
}

.suzu-container{
}
.suzu-content{
  height: 20vw;
} */

/* .loading{
  height: 100vh;
  width: 100vw;
  z-index: 100;
} */
/* .rabbit-wash{
  text-align: center;
  width:256px;
  height:256px;
  margin: auto 0;
  background: url("rabbit-faceWash.png") ;
  background: url("rabbit-faceWash.svg") ;
} */
